body {
	background: #EBEBEB;
	font-size: 15px;    
	font-family: Helvetica, Arial, sans-serif;    
}                      
                            
p { margin: 1em 0; }    
a { color: #2D536C; text-decoration: underline; }
a:hover, a:active { color: #1B3241; }     
                  
.left { float: left; }
.right { float: right; }
.clear { clear: both; }

#wrap {
	background: #fff; 
	border: 1px solid #ddd;  
	border-top: none;
	width: 960px;
	margin: 0px auto;
}                     

#header {
	background: #434343;
	font-size: 1.6em;
	font-weight: bold;   
	padding: 15px;
}         
#header h1 a {
	color: #fff;      
	text-decoration: none;
	text-shadow: #888 0px 1px 1px;
}                        
#header h1 a:hover {
	color: #ddd;
}               

#content {
	padding: 16px;  
}        

#content h1 {
	font-size: 1.5em;
	padding: 4px 0px 8px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 16px;
}         
#content h2 { font-size: 1.2em; font-weight: bold; margin-bottom: 10px; }
#content h3 { font-size: 1.1em; font-weight: bold; margin-bottom: 10px; }

table {
	width: 100%;        
}               

table td, table th {   
	background: #fff;                  
	border: 1px solid #ccc;
	padding: 7px;
	font-size: 0.9em;
}                   
table tr.even td { background: #f6f6f6; }

table th { background: #aaa; border-color: #666; color: #333; text-align: left; padding: 8px; }    
table.sorted th { cursor: pointer; }
table.sorted tr th { background-image: url('../images/bg.gif'); background-repeat: no-repeat; background-position: right center; }
table.sorted tr th.headerSortUp { background-image: url('../images/asc.gif'); }
table.sorted tr th.headerSortDown { background-image: url('../images/desc.gif'); }

table td.rating_green { background: #BAD4C2; }
table td.rating_yellow { background: #E7EAC0; }
table td.rating_red { background: #D4AFAD; } 
                                             
form label { display: block; font-weight: bold; padding-bottom: 5px; }
form input, form textarea { border: 1px solid #bbb; padding: 5px; font-size: 1.2em; }
form input[type=submit] { background: #f0f0f0; border: 1px solid #ccc; font-size: 0.8em; padding: 6px 12px; }
form input[type=submit]:hover { border-color: #aaa; background: #d0d0d0; }
form .field_with_errors input { border-color: #993434; }

table td.no_reports { text-align: center; padding: 20px; }    
                  
.description { border: 1px solid #ddd; padding: 10px; margin-bottom: 10px; } 

.column { }
.column.main_column { width: 670px; float: left; }
.column.side_column { width: 240px; float: right; }
.column.side_column h3 { font-size: 1.3em; font-weight: normal; margin-bottom: 7px; } 

.column.side_column #mp_filter { border: 1px solid #ddd; width: 225px; font-size: 1.1em; padding: 5px; }
.column.side_column .box { padding-bottom: 15px; }

.column.side_column table { width: 180px; }
.column.side_column table td { border: none; padding: 8px 0px; }
                 
.column.half { width: 49%; }
.column.half.left p { margin: 0.5em 0; text-align: center; }
.column.half.right { margin-top: 5px; }

a.get_started {     
	background: #426999;
	background-image: -webkit-linear-gradient(#649FC1, #426999);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block; 
	font-size: 1.2em;
	padding: 14px 14px;
	margin: 10px auto;         
	text-align: center;  
	font-weight: bold;
	color: #f0f0f0;    
	text-decoration: none;
	text-shadow: #2A4363 0px 1px 1px;
}      
a.get_started:hover {
	background: #5181BF;  
	background-image: -webkit-linear-gradient(#629CD3, #5181BF);  
}             
                
.errors { background: #FFD9DB; padding: 8px; border: 1px solid #994043; } 
.errors li { padding: 3px; font-size: 0.8em; }

p.rating_intro { color: #555; line-height: 1.1em; font-size: 1.2em; }         

.member_info {
	background: #ddd;
	padding: 10px;  
	width: 47%;
	float: left;
}                   
.member_info .member_picture { float: left; height: 180px; }
.member_info p, .member_info ul { float: right; width: 290px; margin: 0.5em; } 
.member_info ul { width: 270px; }
.member_info li {
	list-style: square;
}           

.member_rating {
	background: #ddd;
	padding: 10px;  
	width: 47%;
	float: right;   
	height: 180px;     
	margin-bottom: 15px;
}  
.member_rating .rating {
	font-size: 5em;
	font-weight: bold;
	padding: 50px 25px;
	float: right; 
	width: 150px;
}               
.member_rating p {
	float: left;
	margin: 0em;
	font-size: 1.4em;
	padding: 8px 15px 0;
	width: 180px;  
	line-height: 1.3em;
}          
.member_rating strong {
	font-weight: bold;
}                     

.reports { margin-bottom: 10px; } 

.add_report a { display: block; background: #CDE0EE; padding: 10px; margin-bottom: 10px; }
                
.report .rating { float: left; border: 1px solid #ddd; width: 190px; margin-right: 10px; font-size: 4em; padding: 0.42em 0; text-align: center; font-weight: bold; }
.report .rating span.outoften { font-size: 0.5em; padding-left: 10px; font-weight: normal; }
.report .rating span.inwords { font-size: 0.25em; font-weight: normal; display: block; padding-top: 10px; } 
.report .wrap { width: 725px; float: left; }
.report .description { background: #eee; padding: 10px; min-height: 120px; }  
.report .meta { color: #777; font-size: 0.8em; padding: 10px 0px; }                                                                                       

.noreports {
	padding: 20px;      
	font-size: 1.4em;   
	color: #444;     
	margin: 0;
	background: #f0f0f0;
}

/* Intro */
#intro {
	background: #f0f0f0;
	background-image: -webkit-linear-gradient(#f0f0f0, #e0e0e0);
	padding: 20px;          
	font-size: 1.2em;
	color: #444;                 
	margin-bottom: 10px;
	border: 1px solid #ccc;
}              
#intro p { margin: 0; }
#intro p:first-child { font-size: 1.5em; font-weight: bold; color: #555; line-height: 1.2em; text-shadow: #fff 0px 1px 1px; }    
#intro #steps { margin-top: 15px; }
#intro #steps li {
	float: left;                
	padding: 10px 20px;
	width: 190px;      
	font-size: 0.9em;   
	list-style: decimal inside;
	border-right: 1px solid #ccc;
}  
#intro #steps li h2 { font-size: 1.1em; text-shadow: #fff 0px 1px 1px; }
#intro #steps li:first-child { padding-left: 0px; }
#intro #steps li:last-child { padding-right: 0px; border: none; }          

#footer {
	text-align: center;   
	color: #888;
	margin: 20px 0px;
	font-size: 0.8em;
}               
#footer a {
	color: #777;
}               
#footer a:hover {
	color: #444;
}