<div id="intro">
	<p>Crowdlobbying is an web application designed to make it easier to collaboratively lobby MPs to gain support for a Parliamentary issue.</p>
	<ol id="steps">
		<li>
			<h2>Create your cause</h2>
			<p>For example, a controversial bill passing through Parliament.</p>
		</li>                                                                   
		<li>
			<h2>Contact MPs</h2>
			<p>Ask MPs for their opinion and stress the importance of your cause.</p>
		</li>
		<li>
			<h2>Report responses</h2>
			<p>Give your MPs response a rating and a description.</p>
		</li>                                                     
		<li>
			<h2>Track progress</h2>
			<p>See which MPs are for and against, and prioritise lobbying efforts.</p>
		</li>
	</ol>    
	<div class="clear"></div>
</div>

<h1>Current Causes</h1>
                
<p><%= link_to 'Start a new cause', new_cause_url %></p>

<table>
	<tbody> 
		<% @causes.each do |c| -%>
			<tr><td><%= link_to c.title, cause_url(c) %></td></tr>
		<% end -%>  
	</tbody>
</table>