<div id="intro">
	<p>Crowdlobbying is a web app which makes it easier to collaboratively lobby MPs for a Parliamentary issue.</p>
	<ol id="steps">
		<li>
			<h2>Create your cause</h2>
			<p>For example, a controversial bill passing through Parliament.</p>
		</li>                                                                   
		<li>
			<h2>Contact MPs</h2>
			<p>Ask MPs for their opinion and stress the importance of your cause.</p>
		</li>
		<li>
			<h2>Report responses</h2>
			<p>Give your MPs response a rating and a description.</p>
		</li>                                                     
		<li>
			<h2>Track progress</h2>
			<p>See which MPs are for and against, and prioritise lobbying efforts.</p>
		</li>
	</ol>    
	<div class="clear"></div>
</div>

<div class="column half left">
	<p>It's easy to create a new cause. Click below to get started.</p>
	
	<p><%= link_to 'Create a cause', new_cause_url, :class => 'get_started' %></p>
</div>
<div class="column half right">   
	<h3>Latest Causes</h3>
	<table>
		<tbody> 
			<% @causes.each do |c| -%>
				<tr><td><%= link_to c.title, cause_url(c) %></td></tr>
			<% end -%>  
		</tbody>
	</table>                 
</div>
<div class="clear"></div>